<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title float-left">Danh sách các cơ quan ban hành</h3>
                    <div class="float-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAđ">
                            Thêm
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modalAđ" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Thêm mới</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/admin/co-quan-ban-hanh" id="addAgen">
                                            <div class="form-group">
                                                <label for="inputSmall" class="col-form-label">Tên cơ quan</label>
                                                <input id="inputSmall" type="text" class="form-control form-control-sm"
                                                    name="nameAg" style="font-size: 15px;">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Thoát</button>
                                                <button type="submit" class="btn btn-primary">Xác Nhận</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center" scope="col">STT</th>
                                    <th class="text-center" scope="col">Tên cơ quan</th>
                                    <th class="text-center" scope="col">Xử lý</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(list){
                                     let i=1;
                                     list.forEach(function(ele){
                                 %>
                                <tr>
                                    <th class="text-center" scope="row"><%= i %></th>
                                    <td class="text-center"><%= ele.nameAg %></td>
                                    <td class="text-center">
                                        <i class="fas fa-edit pr-3 " data-toggle="modal" data-target="#modalEdit<%=i%>"
                                            style="cursor:pointer;"></i>
                                        <i class="fas fa-trash-alt" style="cursor:pointer;" data-toggle="modal" data-target="#deleteAG<%= i %>" ></i>
                                    </td>
                                    <!-- Button trigger modal -->
                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteAG<%= i %>" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Xóa dữ liệu Cơ Quan Ban Hành
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary"
                                                    onclick="deleteAg('<%= ele._id%>')">Xác nhận</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Hủy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <div class="modal fade" id="modalEdit<%= i %>" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Sửa Thông
                                                        tin
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="inputSmall" class="col-form-label">Tên cơ
                                                            quan</label>
                                                        <input id="us" type="text"
                                                            class="form-control form-control-sm nameAg"
                                                            value="<%= ele.nameAg %>" required style="font-size: 15px;">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-primary"
                                                            onclick="updateAg('<%=ele._id%>')">Xác
                                                            Nhận</button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Thoát</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                <% i++; })} %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>