<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title float-left">Danh sách loại danh mục</h5>
                    <div class="float-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAđ">
                            Thêm
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="modalAđ" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Thêm mới</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/admin/tin-tuc/loai-danh-muc" id="addCateType">
                                            <div class="form-group">
                                                <label for="inputSmall" class="col-form-label">Tên loại danh
                                                    mục</label>
                                                <input id="inputSmall" type="text" class="form-control form-control-sm"
                                                    name="nameType">
                                            </div>
                                            <div class="form-group">
                                                <label for="" class="col-form-label">Link url</label>
                                                <input id="" type="text" class="form-control form-control-sm"
                                                    name="link">
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Thoát</button>
                                                <button type="submit" class="btn btn-primary">Xác Nhận</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="table-responsive ">
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tên loại danh mục</th>
                                        <th scope="col">Xử lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(list){
                                                            let i=1;
                                                        list.forEach(function(ele){
                                                        %>

                                    <tr>
                                        <th scope="row"><%= i %></th>
                                        <td><%= ele.nameType %></td>
                                        <td>
                                            <i class="fas fa-edit pr-3 " data-toggle="modal"
                                                data-target="#modalEdit<%=i%>" style="cursor:pointer;"></i>
                                            <i class="fas fa-trash-alt" style="cursor:pointer;"
                                                onclick="deleteCateType('<%= ele._id%>')"></i>
                                        </td>
                                        <!-- Button trigger modal -->
                                        <!-- Modal -->
                                        <div class="modal fade " id="modalEdit<%= i %>" tabindex="-1" role="dialog"
                                            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalScrollableTitle">Sửa
                                                            Thông
                                                            tin
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="editCateType">
                                                            <div class="form-group">
                                                                <label for="" class="col-form-label">Tên loại
                                                                    danh
                                                                    mục</label>
                                                                <input type="text"
                                                                    class="form-control form-control-sm nameType"
                                                                    value="<%= ele.nameType %>">
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="" class="col-form-label">Link url</label>
                                                                <input type="text"
                                                                    class="form-control form-control-sm link"
                                                                    value="<%= ele.link %>">
                                                            </div>
                                                            <input type="hidden" name="cateType" class="id"
                                                                value="<%= ele._id %>">
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Thoát</button>
                                                                <button class="btn btn-primary"
                                                                    onclick="updateCateType('<%= ele._id%>')">Xác
                                                                    Nhận</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tr>
                                    <% i++; })} %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>