<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title float-left">Danh sách thư góp ý</h3>
                </div>
                <div class="card-body">
                    <div class="table-responsive ">
                        <div class="table-responsive">
                            <table id="" class="table ">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(list){
                                             let i=1;
                                             list.forEach(function(ele){
                                    %>
                                    <% if(!ele.check){ %>
                                    <tr class="w-100 accordion" style="background-color: #cecece47;" id="view<%=i%>">
                                        <td class="w-100" data-toggle="collapse" data-target="#view1<%=i%>" aria-expanded="true"
                                            aria-controls="#view1<%=i%>">
                                            <span class="d-inline-block text-truncate pr-5"
                                                style="max-width: 15%; width: 15%;"><%= ele.name %></span>
                                            <span class="d-inline-block text-truncate pl-5" style="max-width: 57%; width:57%;">
                                                <%= ele.title %>
                                            </span>
                                            <span class="d-inline-block ml-5" style="width:17%;font-size: 12px;font-weight: 700;"><%= ele.ngay %></span>
                                            <span class="float-right"> <i class="fas fa-trash-alt dropdown-item "
                                                    style="cursor:pointer;"
                                                    onclick="deleteGY('<%= ele._id%>')"></i></span>
                                            <div class="w-100">
                                                <div id="view1<%=i%>" class="collapse bg-light"
                                                    aria-labelledby="headingOne" data-parent="#view<%=i%>">
                                                    <div class="card-body w-100 mt-4">
                                                        <h3>Tiêu đề : <%= ele.title %></h3>
                                                        <h5>Người gửi : <%= ele.name%></h5>
                                                        <p>Email : <%= ele.email%></p>
                                                        <p>Phone : <%= ele.phone%></p>
                                                        <p>Nội dung : <%= ele.content%></p>
                                                        <p>File : <%= ele.file%></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <% } else{ %>
                                    <tr class="w-100 accordion" id="view<%=i%>">
                                        <td class="w-100" data-toggle="collapse" data-target="#view1<%=i%>" aria-expanded="true"
                                            aria-controls="#view1<%=i%>" onclick="updateCheck('<%= ele._id%>','<%=i%>')">
                                            <img src="/public/images/new.png" alt="" width="30px" height="30px" class="d-inline-block">
                                            <span class="d-inline-block text-truncate pr-5"
                                                style="max-width: 15%; width: 15%;"><%= ele.name %></span>
                                            <span class="d-inline-block text-truncate pl-5" style="max-width: 57%; width:57%;">
                                                <%= ele.title %>
                                            </span>
                                            <span class="d-inline-block ml-5" style="width:17%;font-size: 12px;font-weight: 700;"><%= ele.ngay %></span>
                                            <span class="float-right"> <i class="fas fa-trash-alt dropdown-item "
                                                    style="cursor:pointer;"
                                                    onclick="deleteGY('<%= ele._id%>')"></i></span>
                                            <div class="w-100">
                                                <div id="view1<%=i%>" class="collapse bg-light"
                                                    aria-labelledby="headingOne" data-parent="#view<%=i%>">
                                                    <div class="card-body w-100 mt-4">
                                                        <h3>Tiêu đề : <%= ele.title %></h3>
                                                        <h5>Người gửi : <%= ele.name%></h5>
                                                        <p>Email : <%= ele.email%></p>
                                                        <p>Phone : <%= ele.phone%></p>
                                                        <p>Nội dung : <%= ele.content%></p>
                                                        <p>File : <%= ele.file%></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    <% } %>
                                    <% i++; })} %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
