<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title float-left">Cập nhật bài viết</h5>
                    <div class="">
                        <div class="card-body">
                            <% if(list) {%>
                            <% list.forEach(function(ele){ %>
                            <form action="/admin/tin-tuc/bai-viet/<%=ele._id%>" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label class="col-form-label">Tên tiêu đề</label>
                                    <input id="us" type="text" class="form-control form-control-sm" name="title" value="<%=ele.title%>"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Danh mục</label>
                                    <select name="idCate" class="form-control" id="input-select">
                                        <% cate.forEach(function(val){ %>
                                        <% if(val._id === ele.idCate){ %>
                                        <option value="<%=val._id%>" selected><%= val.nameCate %></option>
                                        <% } else{ %>
                                           <option value="<%=val._id%>"><%= val.nameCate %></option>
                                        <%}}) %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="my-input">Đường dẫn</label>
                                    <textarea id="my-input" class="form-control" name="linkSEO" value=""
                                        rows="3"><%=ele.linkSEO%></textarea>
                                </div>
                                <div class="form-group w-50">
                                        <label class="col-form-label">Ảnh nền</label>
                                    <div class="row">
                                            <div class="d-inline-block col-md-7">
                                                <img  src="/public/uploads/<%=ele.linkImg%>" alt="" width="200" height="100">
                                            </div>
                                            <div class="col-md-5">
                                                    <input class="" style="margin-top: 14%;" type="file" class="form-control form-control-sm" name="linkImg">
                                            </div>
                                    </div>
                                 
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Nội dung chính</label>
                                    <textarea name="mainContent" id="updateNews" value=""><%=ele.mainContent%></textarea>
                                </div>
                                <div class="form-group float-right">
                                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                                    <a href="/admin/tin-tuc/bai-viet"  class="btn btn-danger">Hủy</a>
                                </div>
                            </form>
                            <%})} %>
                        </div>
                    </div>
                </div>
            </div>
        </div>