<div>

    <!---->

    <div class="sideBar-menu accordion" id="accordionExample">
        <% if(kt==0){ %>
        <%  sideBar.forEach(function(ele){ %>
        <% if(ele.nameType === "CÔNG DÂN"){ %>
        <div class="headSideBar text-center">
            <h5><i class="far fa-newspaper pr-2"></i><a class="text-decoration-none" href="<%=ele.link %>">CÔNG DÂN</a>
            </h5>
        </div>
        <div class="contentSideBar ">
            <ul>
                <% ele.cate.forEach(function(val){ %>
                <li><a href="<%=val.link%>"><%= val.nameCate %></a></li>
                <% }) %>
            </ul>
        </div>
        <% }})}
            else{ %>
        <% let i=1;
           sideBar.forEach(function(ele){ %>
        <div class="headSideBar text-center">
            <% if(i==1){ %>
            <div id="heading<%=i%>">
                <h5>
                    <button class="btn w-100 text-white" type="button" data-toggle="collapse" data-target="#cl<%=i%>"
                        aria-expanded="true" aria-controls="cl<%=i%>">
                        <i class="far fa-newspaper pr-2"></i>
                        <a class="text-decoration-none text-light" href="<%=ele.link%>"><%=ele.nameType %></a>
                    </button>
                </h5>
            </div>
            <% }else{ %>
            <div id="heading<%=i%>">
                <h5>
                    <button class="btn w-100 collapsed text-white" type="button" data-toggle="collapse" data-target="#cl<%=i%>"
                        aria-expanded="false" aria-controls="cl<%=i%>">
                        <i class="far fa-newspaper pr-2"></i>
                        <a class="text-decoration-none text-light" href=""><%=ele.nameType %></a>
                    </button>
                </h5>
            </div>
            <% } %>
        </div>
        <% if(i==1){ %>
        <div class="contentSideBar collapse show" aria-labelledby="heading<%=i%>" id="cl<%=i%>"
            data-parent="#accordionExample">
            <ul>
                <% ele.cate.forEach(function(val){ %>
                <li><a href="<%=val.link%>"><%= val.nameCate %></a></li>
                <% }) %>
            </ul>
        </div>
        <% }else{ %>
        <div class="contentSideBar collapse" id="cl<%=i%>" aria-labelledby="heading<%=i%>">
            <ul>
                <% ele.cate.forEach(function(val){ %>
                <li><a href="<%=val.link%>"><%= val.nameCate %></a></li>
                <% }) %>
            </ul>
        </div>
        <%} %>
        <% i++; })} %>
    </div>

</div>